.cadastrar {
    align-items: center;
    justify-content: center;
    border-style: solid;
    margin-top: 80px;
    margin-bottom: 20px;
    border-color: #f0f0f0;
    border-radius: 20px;
    padding: 20px;
    border-width: 1px;
}

.cadastrar p {
    font-weight: bold;
}

.comprado {
    display: block;
}

button {
    width: 80px;
}